

body{
    background: linear-gradient(to right, #2d8c28, #3885b2);
    width: 100%;
    height: 100%;
    background-size: cover;
}

h1{ 
    font-family: 'Poppins', sans-serif;
  color: white;
    font-size: 400%;
}

h2{
    font-style: italic;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: 150%;
}

.foto{
    border-radius: 50%;
    margin-top: 100px; 
    margin-left: 20px;margin-bottom: 0;
    border: 3px solid white;
}
.perfil{
    display: flex; 
    align-items: center;

}
.divis{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-top: 50px;
}
.divis h2{
    margin-top: -15px;
}

.hud{ 
    font-family: 'Poppins', sans-serif;
    margin-left: 800px;
    color: rgb(255, 255, 255);
    font-size: large;
}

.sobre{ 
    font-family: 'Poppins', sans-serif;
    margin-left: 50px;
    color: rgb(255, 255, 255);
    font-size: larger;
}

.portf{ margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: larger;
}

.contat{ margin-left: 50px;
    font-family: 'Poppins', sans-serif;
    color: rgb(255, 255, 255);
    font-size: larger;
}

/* Para telas menores que 768px */
@media only screen and (max-width: 767px) {
    .divis {
      margin-left: 20px;
    }
    .perfil{
        flex-direction: column;
    }
    .hud,
    .sobre,
    .portf,
    .contat {
      margin-left: 20px;
      font-size: medium;
    }
  }
  
  /* Para telas entre 768px e 1023px */
  @media only screen and (min-width: 768px) and (max-width: 1023px) {
    .divis {
      margin-left: 30px;
    }
    
    .hud,
    .sobre,
    .portf,
    .contat {
      margin-left: 30px;
      font-size: large;
    }
  }
  
  /* Para telas maiores que 1023px */
  @media only screen and (min-width: 1024px) {
    .divis {
      margin-left: 50px;
    }
    
    .hud,
    .sobre,
    .portf,
    .contat {
      margin-left: 50px;
      font-size: larger;
    }
  }

